.red{
    background-color: red;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.brown{
    background-color: brown;
}

.pink{
    background-color: pink;
}

.darkblue{
    background-color: darkblue;
}

.grey{
    background-color: grey;
}