body{
    line-height: 150px;
    text-align: center;
    border:1px solid black;
}


footer .col-6 > .rosa{
    background-color:salmon;
    border: 1px solid white;
}


footer > .col-6{
    height:150px;
}