body{
    line-height: 150px;
    text-align: center;
    border:1px solid black;
}


footer .col-6 > .rosa{
    background-color:salmon;
    border: 1px solid white;
    padding:2px;
}


footer [class*="col-"] > [class*="col-"] {
    height:100%;

}

footer .col-6{
    padding:5px;
}